body {
    background-color: #bdcebe;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
body {

background-image: url(./assets/Orange\ White\ Illustrated\ Background\ Halloween\ Page\ Border\ A4\ \(Landscape\).jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

@media screen and(max-width:768px) {
body {
background-image: url(background.jpg);
background: linear-gradient(to right, rgba(0, 0.4, 0.4, 0), rgba(0, 0, 0, 0));
}

}


.all {
    height: 350px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}
.all2 {
    height: 940px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}

.all:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}
.all2:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}

#showTableButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.alltable {
    margin-top: 25px;
    margin-left: 15px;
}

#Result {
    font-size: 34px;
    color: rgb(7, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
}
#result2 {
    font-size: 25px;
    color: rgb(7, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sum {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 100px;
}

tr {
    margin: 40px;
}
tbody tr td{
    gap: 10px;
}
.all3 {
    height: 1200px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}
.all3:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}.all4 {
    height: 560px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}
.all4:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}
.all5 {
    height: 500px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}

.all5:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}
.all6{
    height: 1500px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}
.all6:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}
.all7{
    height: 2650px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}
.all7:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}
.all8{
    height: 1050px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}
.all8:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}
.all9{
    height: 400px;
    width: 450px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}
.all9:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}
.all12{
    height: 580px;
    width: 550px;
    border: 4px solid rgb(36, 95, 154);
    border-radius: 5px;
    background-color: rgb(221, 168, 104);
    opacity: 80%;
}
.all12:hover {
    scale: 1.05;
    transition-duration: 0.8s;
    transition-delay: .05s;
    opacity: 100%;
}
